<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap='20px'>
    <mat-form-field appearance="outline">
        <mat-label>Code</mat-label>
        <input matInput [(ngModel)]="createEnum.code">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Value</mat-label>
        <input matInput [(ngModel)]="createEnum.value">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Enumeration Parent</mat-label>
        <input matInput [(ngModel)]="createEnum.idParent">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>DisplayFr</mat-label>
        <input matInput [(ngModel)]="createEnum.displayFr">
    </mat-form-field>
    <br>
    <button mat-raised-button color='primary' (click)="ajouterEnumeration()">ajouter un article</button>
</div>
<pre>{{createEnum|json}}</pre>
<pre>{{serviceEnum.recievedEnumerations|json}}</pre>