<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" style="padding: 15px;">
    <div fxFlex="25%" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card class="leftEdgeStyle" fxFlex="80">
                <mat-card-header>
                    <mat-card-title style="font-size: large;">Evenements Aerien</mat-card-title>
                    <mat-card-subtitle>subtitle</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="leftEdge" fxFlex="20" fxFlexAlign="stretch">
                <mat-card-content>
                    <h1>00</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxFlex="25%" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card class="leftEdgeStyle" fxFlex="80">
                <mat-card-header>
                    <mat-card-title style="font-size: large;">Accident Aerien</mat-card-title>
                    <mat-card-subtitle>subtitle</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="leftEdge" fxFlex="20" fxFlexAlign="stretch">
                <mat-card-content>
                    <h1>00</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxFlex="25%" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card class="leftEdgeStyle" fxFlex="80">
                <mat-card-header>
                    <mat-card-title style="font-size: large;">Incident Aerien Grave</mat-card-title>
                    <mat-card-subtitle>subtitle</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="leftEdge" fxFlex="20" fxFlexAlign="stretch">
                <mat-card-content>
                    <h1>00</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div fxFlex="25%" fxFlexFill>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card class="leftEdgeStyle" fxFlex="80">
                <mat-card-header>
                    <mat-card-title style="font-size: large;">Incident Aerien Leger</mat-card-title>
                    <mat-card-subtitle>subtitle</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
            <mat-card class="leftEdge" fxFlex="20" fxFlexAlign="stretch">
                <mat-card-content>
                    <h1>00</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>